<div class="container">
    <div class="explain">
        <h2 class="explain__title">Detailed Guidance</h2>
        <div>
            <span class="explain__feedback">send us feedback</span>
        </div>
    </div>
    <div>
        <button class="remediate">Remediate Topic</button>
    </div>
</div>



<div>
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Feedback">
            <p>
              You wrote that your major concerns with your paper were "abstract prose" and "elementary points." I did
                not
              find your arguments to be too simplistic or "elementary," nor did your language seem too abstract. It
                did,
               however, lack clarity and definition at some points. Specifically, there are some concepts that you
                repeat
             
                such discussion in your paper. A stronger paper would define the proper role of a leader in a republican
                state from the beginning. Some theoretical questions you may want to consider on this point include:
                what is
                the difference between a republican leader and a tyrannical leader? How can one distinguish between the
                two?
                Why is it important to prevent against tyranny? Is the leader subservient to the will of the people? Is
                the
                leader responsible to anyone? Where does the leader draw his power or right to govern from? What does it
                mean to "be subordinate to a republican role"? What qualities are valuable in a leader? Which ones are
                dangerous? 
            </p>
        </mat-tab>
        <mat-tab label="Info">

            <table>
                <tr>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Country</th>
                    <th>Name</th>
                    <th>Contact No.</th>

                </tr>
                <tr>
                    <td>Alfreds Futterkiste</td>
                    <td>Maria Anders</td>
                    <td>Germany</td>
                    <td>John</td>
                    <td>123456789</td>
                </tr>
                <tr>
                    <td>Centro comercial Moctezuma</td>
                    <td>Francisco Chang</td>
                    <td>Mexico</td>
                    <td>Merry</td>
                    <td>789456123</td>
                </tr>
                <tr>
                    <td>Alfreds Futterkiste</td>
                    <td>Maria Anders</td>
                    <td>Germany</td>
                    <td>John</td>
                    <td>123456789</td>
                </tr>
                
                <tr>
                    <td>Ernst Handel</td>
                    <td>Roland Mendel</td>
                    <td>Austria</td>
                </tr>
                <tr>
                    <td>Island Trading</td>
                    <td>Helen Bennett</td>
                    <td>UK</td>
                </tr>
                <tr>
                    <td>Laughing Bacchus Winecellars</td>
                    <td>Yoshi Tannamuri</td>
                    <td>Canada</td>
                </tr> 

            </table>
        </mat-tab>

    </mat-tab-group>
</div>